{% load static %}
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1" /> <!-- so it looks good on a phone -->
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}"/>

    <meta charset="UTF-8">
    <title>IntramuralsPro</title>
</head>
<body>
<br>
<div id = "loginBox">
  <div class="center">
    <h1>IntramuralsPro</h1>
    <h2>Login:</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  <a href="{% url 'emailCode' %}">
    <button type="button" id="registerButton">Sign Up </button>
  </a>
    <br>
  <a href="{% url 'forgotpassword' %}">
    <button type="button" id="registerButton">Forgot Password</button>
  </a>
</div>
</div>

</body>

</html>