<!DOCTYPE html>
{% load static %}
{% block content %}
<html lang="en">
<head>
    <link href="{% static '/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/easy.css' %}" rel="stylesheet" type="text/css">
    <br><br><br>
    <meta charset="UTF-8">
    <title>{{browser_bar_title}}</title>
</head>
<body>


<form method="post" action="" enctype="multipart/form-data">
    <h1>{{h1}}</h1>
    <h3> {{message}} </h3>
    {% csrf_token %}
    <table>
    {{ form }}
    </table>
    <br><br>
    <input type="submit" name="OK" value="OK" class="button" id="submit"/>
    <a href="{% url 'home' %}">
        <button class="button" type="button">
            Cancel
        </button>
    </a>
</form>
</body>
</html>
{% endblock%}

